# Compiled Java files
*.class

# Build folders
target/
out/
build/

# Maven
.mvn/
!mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
bin/

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp